.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-secondary);

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__wrapper {
    width: 231px;
  }

  &__wrapper-messenger {
    margin-left: 70px;
    width: 206px;
  }

  &-suptitle {
    color: var(--color-main);
    margin-bottom: 20px;
  }

  &__wrapper-button {
    width: 570px;
    margin-left: 93px;
  }
}

.address {
  margin-top: 20px;
  font-style: normal;
  width: 231px;
  height: 81px;

  &-list {
    &__item {
      justify-content: center;
      align-items: center;
      height: 21px;

      &:not(:last-child) {
        margin-bottom: 9px;
      }
    }

    &__link {
      font-size: 14px;
      line-height: 1.71;
      color: var(--color-main);
      transition-property: all;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }

    &__tel-color {
      color: var(--color-subtext);
      transition-property: all;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
  }
}

.messenger-list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    fill: var(--color-main);
    transition-property: all;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background: var(--accent-color);
    }
  }
}

.form-signup {
  display: flex;
  align-items: center;

  &__email {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--color-secondary);
    color: var(--color-main);
    line-height: 1.25;
    padding: 15px 16px;
    margin-right: 12px;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__svg-color {
    fill: var(--color-main);
    margin-left: 10px;
  }
}
