.gallery {
  &-list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
      margin-top: -30px;
    }

    &__item {
      display: flex;
      margin-bottom: 30px;
      border: 1px solid #eeeeee;

      @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 2 * 30px) / 2);
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 0;
      }

      @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 3 * 30px) / 3);
      }
    }

    &__link {
      display: block;
      transition-property: all;
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
          0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      }
    }

    &__block {
      padding: 19px 24px;
      width: 100%;
      &-link {
        position: relative;
        overflow: hidden;
      }
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(33, 150, 243, 0.9);
      color: var(--color-main);
      font-size: 18px;
      line-height: 1.5;
      padding: 63px 24px;
      @media screen and (max-width: 425px) {
        padding: 5% 5%;
        letter-spacing: 0.01em;
        font-size: 16px;
      }
      height: 100%;
      transform: translateY(100%);
      opacity: 0;
      transition-property: all;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

      .gallery-list__link:hover &,
      .gallery-list__link:focus & {
        opacity: 1;
        transform: translateY(0%);
      }
    }

    &__project {
      &-name {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--color-title);
        margin-bottom: 4px;
      }

      &-type {
        color: var(--color-subtext);
      }
    }
  }
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  &__item {
    margin-bottom: 15px;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__btn {
    font-weight: 500;
    line-height: 1.62;
    cursor: pointer;
    color: var(--color-title);
    background-color: var(--color-team);
    border: none;
    border-radius: 4px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    transition-property: all;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--color-main);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  &__btn-color {
    background-color: var(--accent-color);
    color: var(--color-main);
  }
}

// .gallery {
//   padding-top: var(--section-pad);
//   padding-bottom: var(--section-pad);

//   &-list {
//     display: flex;
//     flex-wrap: wrap;
//     margin-left: -30px;
//     margin-bottom: -30px;

//     &__item {
//       flex-basis: calc(100% / 3 - 30px);
//       margin-left: 28px;
//       margin-bottom: 28px;
//       border: 1px solid #eeeeee;
//     }

//     &__link {
//       display: block;
//       transition-property: all;
//       transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//       &:hover,
//       &:focus {
//         box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
//           0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
//       }
//     }

//     &__block {
//       padding: 19px 24px;

//       &-link {
//         position: relative;
//         overflow: hidden;
//       }
//     }

//     &__overlay {
//       position: absolute;
//       top: 0;
//       left: 0;
//       background: rgba(33, 150, 243, 0.9);
//       color: var(--color-main);
//       font-size: 18px;
//       line-height: 1.5;
//       padding: 63px 24px;
//       height: 100%;
//       transform: translateY(100%);
//       transition-property: all;
//       transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

//       .gallery-list__link:hover &,
//       .gallery-list__link:focus & {
//         transform: translateY(0%);
//       }
//     }

//     &__project {
//       &-name {
//         font-weight: 700;
//         font-size: 18px;
//         line-height: 2;
//         letter-spacing: 0.06em;
//         color: var(--color-title);
//         margin-bottom: 4px;
//       }

//       &-type {
//         color: var(--color-subtext);
//       }
//     }
//   }
// }

// .filter-list {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 50px;

//   &__item {
//     &:not(:last-child) {
//       margin-right: 8px;
//     }
//   }

//   &__btn {
//     font-weight: 500;
//     line-height: 1.62;
//     cursor: pointer;
//     color: var(--color-title);
//     background-color: var(--color-team);
//     border: none;
//     border-radius: 4px;
//     padding-left: 22px;
//     padding-right: 22px;
//     padding-top: 6px;
//     padding-bottom: 6px;
//     transition-property: all;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//       background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//       box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//       background-color: var(--accent-color);
//       color: var(--color-main);
//       box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 3px 1px rgba(0, 0, 0, 0.1),
//         0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
//     }
//   }

//   &__btn-color {
//     background-color: var(--accent-color);
//     color: var(--color-main);
//   }
// }
