.logotype {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;

  &_theme {
    &_light {
      color: var(--color-logo);
      padding-top: 24px;
      padding-bottom: 25px;
    }
    &_dark {
      color: var(--color-main);
      margin-bottom: 25px;
      margin-top: 25px;
    }
  }
  &__accent-text {
    color: var(--accent-color);
  }
}
