:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --color-main: #ffffff;
  --color-title: #212121;
  --color-secondary: #2f303a;
  --color-btn: #188ce8;
  --color-logo: #000000;
  --color-subtext: #757575;
  --color-team: #f5f4fa;
  --color-icon: #c4c4c4;
  --section-pad: 94px;
  --border-header: #ececec;
  --border-icon: #afb1b8;
}
